
.err-center-block {
    width: 500px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

}

.err-parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 55px;
    left: 0;
    overflow: auto;
}

.form-inline-element{
    display: inline-block;
}

.inlineBlock{
    display: inline-block;
    width:auto;
}
.mwceCustomCheckGroup{
    width:auto;
    display: block;
    font-weight: normal;
}
.mwceCustomCheckGroupSpan{
    display: inline-block;
    width: 220px;
}

/* подсветка статусов стадий*/
.projectState1{
    color: #0000ff;
}
.projectState2{
    color: #ff0000;
}
.projectState3{
    color: #008000;
}
.projectState4{
    color: #800080;
}

.erpTable thead th{
    background-color: #e9e9e9;
}
.erpSelect{
    width: 100%;
    height: 30px;
    margin:0;
}
.erpInput{
    width: 100%;
    height: 30px;
    margin:0;
}
/*
подсветка статуса в плане проекта
 */
.projectPlanState1{
    color: #008000;
    font-weight: bold;
}
.projectPlanState0{
    color: #ff0000;
    font-weight: bold;
}