/* кастомный скрул */
#commentsList::-webkit-scrollbar,
#taskDesc::-webkit-scrollbar,
#taskFiles::-webkit-scrollbar
{
    width: 12px;
}

/* Track */
#commentsList::-webkit-scrollbar-track,
#taskDesc::-webkit-scrollbar-track,
#taskFiles::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
#commentsList::-webkit-scrollbar-thumb,
#taskDesc::-webkit-scrollbar-thumb,
#taskFiles::-webkit-scrollbar-thumb
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(133, 133, 133, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
#commentsList::-webkit-scrollbar-thumb:window-inactive,
#taskDesc::-webkit-scrollbar-thumb:window-inactive,
#taskFiles::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(255,0,0,0.4);
}
.fail{
    background-color: rgba(255,0,0,0.29);
    padding: 3px;

    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}
.success{
    background-color: rgba(0, 128, 0, 0.29);
    padding: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.TaskLateFinishDesc{
    background-color: rgba(255, 135, 1, 0.08);
}

.TaskContinueDes{
    background-color: rgba(133, 90, 40, 0.08);
}

.TaskFailDes{
    background-color: rgba(255, 0, 0, 0.08);
}

.notes{
    margin-top:5px;
    padding: 5px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.continueDesNotice {
}

.failDesNotice{

}
.FinishDescNotice{

}
.noOne{
    color: gray;
}